// =============================================================================
// Ruby Gemのbrowserの機能を使ってOS/ブラウザーごとの判定用セレクターを追加し、
// それによってスタイル定義を分岐するための関数・mixinを定義します。
// https://github.com/fnando/browser
// =============================================================================

@function a-browser-gem($name) {
  $_browser-gem-classes: (
    ie: ".b-browser-ie",
    edge: ".b-browser-edge",
    chrome: ".b-browser-chrome",
    safari: ".b-browser-safari",
    firefox: ".b-browser-firefox",
    android: ".b-browser-android",
    ios: ".b-browser-ios",
    mac: ".b-browser-mac",
    linux: ".b-browser-linux",
    windows: ".b-browser-windows",
    windows10: ".b-browser-windows10",
    windows8: ".b-browser-windows8",
    windows8_1: ".b-browser-windows8_1",
    windows7: ".b-browser-windows7",
    windows_vista: ".b-browser-windows_vista",
    windows_xp: ".b-browser-windows_xp"
  );
  $sel: map_get($_browser-gem-classes, $name);

  @if $sel {
    @return $sel;
  } @else {
    @error "Function `a-browser` has taken invalid argument: #{$name}.";
  }
}

@mixin a-browser-gem($name) {
  $sel: a-browser-gem($name);
  #{$sel} & {
    @content;
  }
}

@mixin a-browser-gem-old-windows {
  #{a-browser-gem(windows8_1)} &,
  #{a-browser-gem(windows8)} &,
  #{a-browser-gem(windows7)} &,
  #{a-browser-gem(windows_vista)} &,
  #{a-browser-gem(windows_xp)} & {
    @content;
  }
}

// NOTE: 游ゴシックではなくメイリオを適用するOS/ブラウザー用のセレクタ
@mixin a-browser-gem-meiryo {
  #{a-browser-gem(windows10)}#{a-browser-gem(ie)} &,
  #{a-browser-gem(windows8_1)}#{a-browser-gem(ie)} &,
  #{a-browser-gem(windows8)} &,
  #{a-browser-gem(windows7)} &,
  #{a-browser-gem(windows_vista)} &,
  #{a-browser-gem(windows_xp)} & {
    @content;
  }
}
