// =============================================================================
// z-index
// =============================================================================

//
// z-indexの値を管理するための変数・関数を定義します。
//
// Example:
// $a-zIndex-rootStackContextList: (
//   Footer, // 1
//   Header, // 2
//   Dialog, // 3
// );
//
// .Header { z-index: a-zIndex(Header); // 2 }
// .Footer { z-index: a-zIndex(Footer); // 1 }
// .Dialog { z-index: a-zIndex(Dialog); // 3 }
//

$a-zIndex-rootStackContextList: (
  "Page-main",
  "Page-nav",
  "Page-header",
  "Dialog"
);

// $a-zIndex-rootStackContextList: (
//   Footer: 100,
//   Header: 200,
//   Dialog: 300,
// );

@function a-zIndex($value, $list: $a-zIndex-rootStackContextList) {
  $i: null;

  @if type-of($list) == "list" {
    $i: index($list, $value);
  } @else if type-of($list) == "map" {
    $i: map-get($list, $value);
  } @else {
    @error "Function `a-zIndex` has taken invalid argument: #{$list}.";
  }

  @if $i {
    @return $i;
  } @else {
    @error "Function `a-zIndex` has taken invalid argument: #{$value}.";
  }
}
