// =============================================================================
// Checkmarkを表します。
// =============================================================================

.c-Checkmark {
  // Abstractions
  // ===========================================================================

  $_top: 0.1em;
  $_size: 0.1em;
  $_width: 0.45em;
  $_borderWidth: 0.2em;

  // Block
  // ===========================================================================

  &::before {
    position: relative;
    top: 0.15em + $_top;
    left: 0.35em;
    display: inline-block;
    width: $_width + $_size;
    height: ($_width * 2) + $_size;
    vertical-align: top;
    content: "";
    border-style: solid;
    border-width: 0 $_borderWidth $_borderWidth 0;
    transform: rotate(45deg);
  }

  // Elements
  // ===========================================================================

  // Modifiers
  // ===========================================================================
}
