// =============================================================================
// ドキュメント全体（＝html要素）を表します。
// このコンポーネントはhtml要素にスタイルを当てる必要がある場合（例：Sticky Footer等）のみ
// 使用してください。それ以外では、Pageコンポーネントやそれより小さなコンポーネントを使用して
// ください。
// =============================================================================

.c-Document {
  // Abstractions
  // ===========================================================================

  $_BlockName: &;

  // Block
  // ===========================================================================

  // Elements
  // ===========================================================================

  // Modifiers
  // ===========================================================================

  &--stickyFooter {
    height: 100%;

    #{$_BlockName} {
      &-body {
        display: flex;
        flex-direction: column;
        height: 100%;
      }

      &-header,
      &-footer {
        flex: none;
      }

      &-content {
        flex: 1 0 auto;
        width: 100%;
      }
    }
  }
}
