// =============================================================================
// リストを表します。
// =============================================================================

.c-List {
  // Abstractions
  // ===========================================================================

  $_: &;

  // Block
  // ===========================================================================

  @include emma-reli;

  // Elements
  // ===========================================================================

  &-item {
    display: flex;
    align-items: top;

    & + & {
      margin-top: a-px2rem(12px);
    }
  }

  // Modifiers
  // ===========================================================================

  &--circle {
    #{$_} {
      &-item {
        &::before {
          display: inline-flex;
          flex: 0 0 auto;
          width: calc(1em - 1px);
          height: calc(1em - 1px);
          margin-top: a-px2rem(4px);
          margin-right: 0.8em;
          content: "";
          border: 3px solid #000;
          border-radius: 50%;

          @include media-breakpoint-up(lg) {
            margin-top: a-px2rem(5px);
          }
        }
      }
    }
  }

  &--circleNumber {
    #{$_} {
      @include emma-reli;
      counter-reset: counter1;

      &-item {
        &::before {
          $_w: a-px2rem(70px);
          display: inline-flex;
          flex: 0 0 auto;
          align-items: center;
          justify-content: center;
          width: $_w;
          height: $_w;
          margin-right: 1em;
          font-size: $a-fontSize-h3;
          font-weight: $a-fontWeight-bold;
          color: #000;
          content: counter(counter1);
          counter-increment: counter1;
          background-color: #fff;
          border: 3px solid #000;
          border-radius: 50%;
        }
      }
    }
  }
}
