// =============================================================================
// リストを表します。
// =============================================================================

.c-List {
  // Abstractions
  // ===========================================================================

  $_BlockName: &;
  $_item--before-marginRight: 0.6em;

  // Block
  // ===========================================================================

  padding-left: 0;
  margin-top: 0;
  margin-bottom: 0;
  list-style-type: none;

  // Elements
  // ===========================================================================

  &-item {
    display: flex;
    align-items: flex-start;

    & + & {
      margin-top: a-px2rem(12px);
    }
  }

  // Modifiers
  // ===========================================================================

  &--circle {
    #{$_BlockName} {
      &-item {
        &::before {
          display: inline-flex;
          flex: 0 0 auto;
          width: calc(1em - 1px);
          height: calc(1em - 1px);
          margin-top: a-px2rem(4px);
          margin-right: $_item--before-marginRight;
          content: "";
          border: 3px solid #000;
          border-radius: 50%;

          @include media-breakpoint-up(lg) {
            margin-top: a-px2rem(5px);
          }
        }
      }
    }
  }

  &--circleNumber {
    #{$_BlockName} {
      &-item {
        $_circleNumberOneUnicodeDecimal: 9312;
        $_base: $_circleNumberOneUnicodeDecimal - 1;
        @for $i from 1 through 20 {
          &:nth-of-type(#{$i}) {
            &::before {
              margin-right: $_item--before-marginRight;
              content: a-backslash(a-dec2hex($_base + $i));
            }
          }
        }
      }
    }
  }
}
