// =============================================================================
// ページ（＝body要素）
// =============================================================================

//
// すべてのページで適用されるコンポーネントになるので、抽象度の高いスタイルのみ
// を含むようにします。
//

.c-Page {
  // Variables
  // ===========================================================================

  $_body-color: $a-color-text;
  $_body-fontFamily: $a-fontFamily-sans;
  $_body-fontSize: $a-fontSize-base;

  // Block
  // ===========================================================================

  @include a-fontSmoothing;
  font-family: $_body-fontFamily;
  font-size: $_body-fontSize;
  color: $_body-color;

  // Elements
  // ===========================================================================

  // Modifiers
  // ===========================================================================
}
