// =============================================================================
// ページ（＝body要素）
// =============================================================================

//
// すべてのページで適用されるコンポーネントになるので、抽象度の高いスタイルのみ
// を含むようにします。
//

.c-Page {
  // Variables
  // ===========================================================================

  $_body-color: $a-color-text;
  $_body-fontFamily: $a-fontFamily-sans;
  $_body-fontSize: $a-fontSize-base;
  $_nav-width: 200px;

  @mixin _Page-content {
    display: flex;
  }

  @mixin _Page-nav {
    flex: 0 0 $_nav-width;
    width: $_nav-width;
  }

  @mixin _Page-main {
    flex: 1 1 0;
  }

  // Block
  // ===========================================================================

  @include a-fontSmoothing;
  font-family: $_body-fontFamily;
  font-size: $_body-fontSize;
  color: $_body-color;

  // Elements
  // ===========================================================================

  &-content {
    @include _Page-content;
  }

  &-nav {
    @include _Page-nav;
  }

  &-main {
    @include _Page-main;
    padding-top: $a-padding-md;
    padding-bottom: $a-padding-lg;
  }

  &-headingOuter {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    margin-top: $a-margin-md;
    margin-bottom: $a-margin-lg;
  }

  &-heading {
    margin-bottom: 0;
  }

  // Modifiers
  // ===========================================================================
}
