// =============================================================================
// 必須ラベル
// =============================================================================

.c-RequiredLabel {
  // Variables
  // ===========================================================================

  $_bgColor: $a-color-danger;

  // Block
  // ===========================================================================

  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 0 0.4em;
  font-size: $a-fontSize-xs;
  font-weight: normal;
  color: #fff;
  white-space: nowrap;
  background-color: $_bgColor;

  // Elements
  // ===========================================================================

  // Modifiers
  // ===========================================================================
}
