// =============================================================================
// テーブル
// =============================================================================

//
// Bootstrapのtableコンポーネントをベースにセレクタ名を書き直したものです。
// https://github.com/twbs/bootstrap/blob/v4.3.1/scss/_tables.scss
// mixin部分はBootstrapデフォルト、Elements部分は上書きした固有スタイルです。
//

.c-Table {
  // Variables
  // ===========================================================================

  $_BlockName: &;
  $_spacer: $spacer;
  $_body-bg: $body-bg;
  $_table-bg: $table-bg;
  $_table-cell-padding: $table-cell-padding;
  $_table-cell-padding-sm: $table-cell-padding-sm;
  $_table-border-width: $table-border-width;
  $_table-border-color: $table-border-color;
  $_table-striped-order: $table-striped-order;
  $_table-accent-bg: lighten($table-accent-bg, 35%);
  $_table-hover-bg: lighten($a-color-info, 54%);

  // Basic Bootstrap table
  @mixin _BlockMixin {
    width: 100%;
    max-width: 100%;
    margin-bottom: $_spacer;
    background-color: $_table-bg; // Reset for nesting within parents with `background-color`.

    th,
    td {
      padding: $_table-cell-padding;
      vertical-align: top;
      border-top: $_table-border-width solid $_table-border-color;
    }

    thead th {
      vertical-align: bottom;
      border-bottom: (2 * $_table-border-width) solid $_table-border-color;
    }

    tbody + tbody {
      border-top: (2 * $_table-border-width) solid $_table-border-color;
    }

    #{$_BlockName} {
      background-color: $body-bg;
    }
  }

  // Condensed table w/ half padding
  @mixin _--sm {
    th,
    td {
      padding: $_table-cell-padding-sm;
    }
  }

  // Add borders all around the table and between all the columns.
  @mixin _--bordered {
    border: $_table-border-width solid $_table-border-color;

    th,
    td {
      border: $_table-border-width solid $_table-border-color;
    }

    thead {
      th,
      td {
        border-bottom-width: (2 * $_table-border-width);
      }
    }
  }

  // Remove borders all around the table and between all the columns.
  @mixin _--borderless {
    th,
    td,
    thead th,
    tbody + tbody {
      border: 0;
    }
  }

  // Zebra-striping
  // Default zebra-stripe styles (alternating gray and transparent backgrounds)
  @mixin _--striped($order: $_table-striped-order) {
    tbody tr:nth-of-type(#{$order}) {
      background-color: $_table-accent-bg;
    }
  }

  @mixin _--stripeless($order: $_table-striped-order) {
    tbody tr:nth-of-type(#{$order}) {
      background-color: transparent;
    }
  }

  // Hover effect
  @mixin _--hover {
    tbody tr {
      @include hover {
        background-color: $_table-hover-bg;
      }
    }
  }

  @mixin _--hoverless {
    tbody tr {
      @include hover {
        background-color: inherit;
      }
    }
  }

  // Block
  // ===========================================================================

  @include _BlockMixin;

  // Elements
  // ===========================================================================

  // Modifiers
  // ===========================================================================

  &--sm {
    @include _--sm;
  }

  &--bordered {
    @include _--bordered;
  }

  &--borderless {
    @include _--borderless;
  }

  &--striped {
    @include _--striped;
  }

  &--stripeless {
    @include _--stripeless;
  }

  // Placed here since it has to come after the potential zebra striping
  &--hover {
    @include _--hover;
  }

  &--hoverless {
    @include _--hoverless;
  }
}
